{% extends "layout.njk" %}

{% block head %}
    <title>404 - Not Found</title>
{% endblock %}

{% block content %}
    

    <section class="section-slogan-logo">
        <div class="slogan">
            <h2 class="text-not-found">Error 404 - Página não encontrada!</h2>        
        </div>
        <div class="logo">
            <img src="/assets/imgs/chef.png" alt="Image chef">
        </div>
    </section>
{% endblock %}


