{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock %}

{% block content %}
    <section class="all-recipes">

        <div class="recipes">
         {% for recipe in database %}
            <div class="recipe" id="{{recipe.id}}">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">

                <h3>{{recipe.title}}</h3>
                <p>{{recipe.author}}</p>
            </div>
        {% endfor %}
        
    </section>

    <script src="script.js"></script>
{% endblock %}